Repository marmelab/react-admin, pull requests merged in 2024-07, with the labels that each got.

#9966 Fix `<SimpleShowLayout>` uses a wrong translation key for field labels
  packages/ra-core/src/core/SourceContext.tsx
  packages/ra-core/src/i18n/useTranslateLabel.spec.tsx
  packages/ra-core/src/i18n/useTranslateLabel.stories.tsx
  packages/ra-ui-materialui/src/Labeled.stories.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.spec.tsx
  packages/ra-ui-materialui/src/detail/SimpleShowLayout.stories.tsx
  packages/ra-ui-materialui/src/form/SimpleForm.stories.tsx
Labels: RFR

#9968 [TypeScript] Improve List exporter type
  docs/Demos.md
  docs/List.md
  examples/crm/package.json
  examples/crm/src/contacts/ContactList.tsx
  examples/simple/src/comments/CommentList.tsx
  packages/ra-core/src/controller/list/useListController.ts
  packages/ra-core/src/export/ExporterContext.ts
  packages/ra-core/src/export/defaultExporter.ts
  packages/ra-core/src/export/downloadCSV.ts
  packages/ra-core/src/export/fetchRelatedRecords.spec.ts
  packages/ra-core/src/export/fetchRelatedRecords.ts
  packages/ra-core/src/export/getRelatedIds.spec.ts
  packages/ra-core/src/export/getRelatedIds.ts
  packages/ra-core/src/export/index.ts
  packages/ra-core/src/types.ts
  yarn.lock
Labels: RFR

#9970 [TypeScript] Fix data provider packages export non-strict types
  packages/ra-core/src/core/CoreAdminUI.tsx
  packages/ra-data-fakerest/src/index.ts
  packages/ra-data-fakerest/tsconfig.json
  packages/ra-data-graphql/src/buildApolloClient.ts
  packages/ra-data-graphql/src/index.ts
  packages/ra-data-graphql/src/introspection.ts
  packages/ra-data-graphql/tsconfig.json
  packages/ra-data-json-server/src/index.ts
  packages/ra-data-json-server/tsconfig.json
  packages/ra-data-localforage/tsconfig.json
  packages/ra-data-localstorage/src/index.ts
  packages/ra-data-localstorage/tsconfig.json
  packages/ra-data-simple-rest/src/index.ts
  packages/ra-data-simple-rest/tsconfig.json
Labels: RFR

#9972 [TypeScript] Fix ReferenceField Props type is confusing
  packages/ra-ui-materialui/src/field/ReferenceField.tsx
Labels: RFR

#9975 [Website] Add banner about react-admin v5 release
  docs/_layouts/default.html
  docs/documentation.html
Labels: RFR

#9977 [DOC] Fix react-query codemod snippets
  docs/Upgrade.md
Labels: RFR

#9978 Update mutations results types to include `isLoading`
  packages/ra-core/src/dataProvider/useCreate.ts
  packages/ra-core/src/dataProvider/useDelete.ts
  packages/ra-core/src/dataProvider/useDeleteMany.ts
  packages/ra-core/src/dataProvider/useUpdate.ts
  packages/ra-core/src/dataProvider/useUpdate.undoable.stories.tsx
  packages/ra-core/src/dataProvider/useUpdateMany.ts
Labels: RFR

#9980 Fix `filter` vs `filters` warning
  packages/ra-core/src/controller/list/useListController.ts
Labels: RFR

#9917 Add avatar icon as login property w/ default.
  packages/ra-ui-materialui/src/auth/Login.stories.tsx
  packages/ra-ui-materialui/src/auth/Login.tsx
Labels: RFR

#9989 [no ci] [chore] Reintroduce changes from #9930 and #9931
  .github/pull_request_template.md
  packages/ra-ui-materialui/src/layout/PageTitleConfigurable.tsx
Labels: RFR

#9982 Fix Remix Documentation
  docs/Remix.md
Labels: RFR

#9988 [DOC] update `<Breadcrumb>` doc according V5 upgrade
  docs/Breadcrumb.md
Labels: RFR

#9987 [Doc] Update ra-rbac documentation following v5 upgrade
  docs/canAccess.md
  docs/useCanAccess.md
Labels: RFR

#9984 [DOC] improve `<EditableDatagrid>` doc
  docs/EditableDatagrid.md
Labels: RFR

#9971 [TypeScript] Fix useGetOne and useGetMany params type when id param is undefined
  packages/ra-core/src/dataProvider/useGetMany.spec.tsx
  packages/ra-core/src/dataProvider/useGetMany.ts
  packages/ra-core/src/dataProvider/useGetManyAggregate.ts
  packages/ra-core/src/dataProvider/useGetOne.spec.tsx
  packages/ra-core/src/dataProvider/useGetOne.ts
  packages/ra-core/src/dataProvider/withLifecycleCallbacks.ts
  packages/ra-core/src/types.ts
  packages/ra-data-localforage/src/index.ts
Labels: RFR

#9991 [Doc] Fix `<Datagrid>` standalone usage misses required `resource` prop
  docs/Datagrid.md
  docs/Upgrade.md
Labels: RFR

#9995 Feat(wording): Replace last seen to last activity
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactListFilter.tsx
Labels: RFR

#9996 Fix `<FilterLiveSearch>` should react to filter values change
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.spec.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.stories.tsx
  packages/ra-ui-materialui/src/list/filter/FilterLiveSearch.tsx
Labels: RFR

#9998 Feat(crm): Add description for companies
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/types.ts
Labels: RFR

#10003 Feat(crm): Wording start deal
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealShow.tsx
Labels: RFR

#10008 Feat(crm): Add tooltip for note status
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/misc/Status.tsx
Labels: RFR

#10007 Feat(crm): Add auto import avatar for contact
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/contacts/ContactShow.tsx
  examples/crm/src/dataProvider.ts
  examples/crm/src/misc/getContactAvatar.spec.ts
  examples/crm/src/misc/getContactAvatar.ts
Labels: RFR

#10005 Feat(crm): Add expecting closing date for Deals
  examples/crm/src/dataGenerator/deals.ts
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/types.ts
Labels: RFR

#10010 Feat(crm): Allow import image for company or fetch it online
  examples/crm/src/companies/CompanyAvatar.tsx
  examples/crm/src/companies/CompanyEdit.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/companies/LogoField.tsx
  examples/crm/src/contacts/ContactShow.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/deals/DealCard.tsx
  examples/crm/src/misc/getCompanyAvatar.spec.ts
  examples/crm/src/misc/getCompanyAvatar.ts
  examples/crm/src/misc/getContactAvatar.spec.ts
  examples/crm/src/misc/getContactAvatar.ts
  examples/crm/src/notes/NewNote.tsx
  examples/crm/src/types.ts
Labels: RFR

#10011 Feat(crm): Add context links for company
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/types.ts
Labels: RFR

#10013 Feat(crm): Add on-the-fly company create for Deals
  examples/crm/src/deals/DealCreate.tsx
Labels: RFR

#10016 Fix(documentation): Verify if Beginning mode exist before add event
  docs/js/ra-doc-exec.js
Labels: bug, RFR

#10018 Update ra-relationships documentation
  docs/ReferenceManyInput.md
  docs/ReferenceManyToManyInput.md
  docs/ReferenceOneInput.md
Labels: documentation, RFR

#10021 Fix TabbedForm with uri encoded identifiers
  packages/ra-core/package.json
  packages/ra-ui-materialui/package.json
  packages/ra-ui-materialui/src/form/TabbedForm.spec.tsx
  packages/ra-ui-materialui/src/form/TabbedForm.stories.tsx
  packages/ra-ui-materialui/src/form/TabbedFormView.tsx
  yarn.lock
Labels: RFR

#10000 Feat(contacts): Add import CSV feature
  examples/crm/package.json
  examples/crm/src/contacts/ContactEmpty.tsx
  examples/crm/src/contacts/ContactImportButton.tsx
  examples/crm/src/contacts/ContactList.tsx
  examples/crm/src/contacts/contacts_export.csv
  examples/crm/src/contacts/useContactImport.tsx
  yarn.lock
Labels: RFR

#10026 Fix(crm): Update Edit/Delete task
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/tasks/task.const.ts
Labels: RFR

#10027 Fix(crm): Update password form and company aside
  examples/crm/src/Header.tsx
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/misc/Status.tsx
  examples/crm/src/settings/UpdatePassword.tsx
Labels: RFR

#10025 Feat(crm): Add activity log support
  examples/crm/src/activity/ActivityCompanyCreated.tsx
  examples/crm/src/activity/ActivityContactCreated.tsx
  examples/crm/src/activity/ActivityContactNoteCreated.tsx
  examples/crm/src/activity/ActivityDate.tsx
  examples/crm/src/activity/ActivityDealCreated.tsx
  examples/crm/src/companies/CompanyActivityIterator.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/consts.ts
  examples/crm/src/contacts/Avatar.tsx
  examples/crm/src/dataGenerator/index.ts
  examples/crm/src/dataGenerator/tasks.ts
  examples/crm/src/dataGenerator/types.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/tasks/task.const.ts
  examples/crm/src/types.ts
Labels: RFR

#10035 Feat(crm): Add an list of ediatble unsopported domains
  examples/crm/src/misc/getContactAvatar.ts
  examples/crm/src/misc/unsupportedDomains.const.ts
Labels: RFR

#10033 Fix `<AutocompleteInput>` clear button does not clear new choice
  packages/ra-ui-materialui/src/input/AutocompleteInput.spec.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.tsx
Labels: RFR

#10039 [Documentation] Mention dialogs in Buttons doc
  docs/Buttons.md
Labels: RFR

#10038 Update SelectInput to support an array of strings as choices
  docs/AutocompleteArrayInput.md
  docs/AutocompleteInput.md
  docs/CheckboxGroupInput.md
  docs/RadioButtonGroupInput.md
  docs/SelectArrayInput.md
  docs/SelectInput.md
  packages/ra-core/src/form/choices/useChoicesContext.ts
  packages/ra-ui-materialui/src/input/AutocompleteArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/AutocompleteInput.stories.tsx
  packages/ra-ui-materialui/src/input/CheckboxGroupInput.stories.tsx
  packages/ra-ui-materialui/src/input/RadioButtonGroupInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectArrayInput.stories.tsx
  packages/ra-ui-materialui/src/input/SelectInput.spec.tsx
  packages/ra-ui-materialui/src/input/SelectInput.stories.tsx
Labels: RFR

#10041 Fix(crm): improve technical code
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/dataProvider.ts
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealForm.tsx
  examples/crm/src/misc/getContactAvatar.spec.ts
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/types.ts
Labels: RFR, CRM

#10044 Fix(crm): Replace linkedin_url with linkedIn for harmonization
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/types.ts
Labels: RFR, CRM

#10053 [Doc] Fix wrong link in `CreateButton` usage
  docs/Buttons.md
Labels: RFR

#10036 Feat(crm): Add documentation about look and feel of the CRM
  examples/crm/README.md
  examples/crm/public/img/adding-sales.png
  examples/crm/src/App.tsx
  examples/crm/src/Header.tsx
  examples/crm/src/companies/CompanyCard.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/companies/CompanyListFilter.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/companies/sectors.ts
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/contacts/ContactListFilter.tsx
  examples/crm/src/contacts/constants.ts
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/dataGenerator/contactNotes.ts
  examples/crm/src/dataGenerator/contacts.ts
  examples/crm/src/dataGenerator/dealNotes.ts
  examples/crm/src/dataGenerator/deals.ts
  examples/crm/src/dataGenerator/tasks.ts
  examples/crm/src/deals/DealColumn.tsx
  examples/crm/src/deals/DealForm.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealListContent.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/deals/deal.ts
  examples/crm/src/deals/stages.ts
  examples/crm/src/deals/types.ts
  examples/crm/src/misc/Status.tsx
  examples/crm/src/notes/NoteCreate.tsx
  examples/crm/src/notes/StatusSelector.tsx
  examples/crm/src/root/CRM.tsx
  examples/crm/src/root/ConfigurationContext.tsx
  examples/crm/src/root/defaultConfiguration.ts
  examples/crm/src/tasks/AddTask.tsx
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/tasks/task.const.ts
  examples/crm/src/types.ts
Labels: RFR, CRM

#10037 Feat(crm): Add sales admin support
  examples/crm/src/Header.tsx
  examples/crm/src/authProvider.ts
  examples/crm/src/companies/CompanyList.tsx
  examples/crm/src/dataProvider.ts
  examples/crm/src/login/SignupPage.tsx
  examples/crm/src/root/CRM.tsx
  examples/crm/src/sales/SalesCreate.tsx
  examples/crm/src/sales/SalesEdit.tsx
  examples/crm/src/sales/SalesForm.tsx
  examples/crm/src/sales/SalesList.tsx
  examples/crm/src/sales/TransferAdminRole.tsx
  examples/crm/src/sales/TransferAdminRoleModal.tsx
  examples/crm/src/sales/index.ts
Labels: RFR, CRM

#10051 Fix(crm): Add concordance between the empty components
  examples/crm/src/companies/CompanyEmpty.tsx
  examples/crm/src/contacts/ContactEmpty.tsx
  examples/crm/src/deals/DealEmpty.tsx
Labels: RFR, CRM

#10047 Feat(crm): Add ability to get back to show from deal edit and on save
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealEdit.tsx
  examples/crm/src/deals/DealInputs.tsx
Labels: RFR, CRM

#10056 Feat(crm): Manage the addition, update and deletion of multiple files…
  examples/crm/src/companies/CompanyList.tsx
  examples/crm/src/notes/Note.tsx
  examples/crm/src/notes/NoteAttachments.tsx
  examples/crm/src/notes/NoteCreate.tsx
  examples/crm/src/types.ts
Labels: RFR, CRM

#10057 Feat(crm): Display total of each columns in DealList
  examples/crm/src/deals/DealColumn.tsx
  examples/crm/src/deals/DealInputs.tsx
Labels: RFR, CRM

#10050 Feat(crm): Improve task
  examples/crm/src/tasks/Task.tsx
  examples/crm/src/tasks/TaskEdit.tsx
  examples/crm/src/tasks/TasksIterator.tsx
Labels: RFR, CRM

#10059 Fix(crm): Ask for confirm when deleting a deal
  examples/crm/src/deals/DealEdit.tsx
Labels: RFR, CRM

#10060 Fix(crm): Create a custom dataprovider for unarchive deal
  examples/crm/src/dataProvider.ts
  examples/crm/src/deals/DealArchivedList.tsx
  examples/crm/src/deals/DealList.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/deals/stages.ts
Labels: RFR, CRM

#10061 Feat(crm): Update redirect calls to disable scrolling to top for deals dialogs
  examples/crm/src/deals/DealCard.tsx
  examples/crm/src/deals/DealColumn.tsx
  examples/crm/src/deals/DealEdit.tsx
  examples/crm/src/deals/DealShow.tsx
Labels: RFR, CRM

#10063 Feat(crm): Improve UX for Note form + Harmonize application text size
  examples/crm/src/contacts/ContactShow.tsx
  examples/crm/src/dashboard/LatestNotes.tsx
  examples/crm/src/dashboard/Welcome.tsx
  examples/crm/src/deals/ContactList.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/notes/Note.tsx
  examples/crm/src/notes/NoteCreate.tsx
  examples/crm/src/notes/NoteInputs.tsx
  examples/crm/src/notes/NotesIterator.tsx
  examples/crm/src/notes/note.ts
  examples/crm/src/sales/TransferAdminRole.tsx
  examples/crm/src/tasks/Task.tsx
Labels: RFR, CRM

#10062 Feat(crm): Adds a redirection to home from the application logo
  examples/crm/src/Header.tsx
Labels: RFR, CRM

#10064 Feat(crm): Improve UI for contacts attached to a deal
  examples/crm/src/deals/ContactList.tsx
  examples/crm/src/deals/DealCard.tsx
  examples/crm/src/deals/DealColumn.tsx
Labels: RFR, CRM

#10070 Feat(crm): Hamonize forms
  examples/crm/src/contacts/TagsListEdit.tsx
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealEdit.tsx
  examples/crm/src/deals/DealInputs.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/misc/DialogCloseButton.tsx
  examples/crm/src/notes/Note.tsx
  examples/crm/src/notes/NoteCreate.tsx
  examples/crm/src/notes/NoteInputs.tsx
  examples/crm/src/sales/TransferAdminRoleModal.tsx
  examples/crm/src/tasks/AddTask.tsx
  examples/crm/src/tasks/Task.tsx
  examples/crm/src/tasks/TaskEdit.tsx
Labels: RFR, CRM

#10073 Fix(crm): Show line break for company description and improve line-he…
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/notes/Note.tsx
Labels: RFR, CRM

#10075 Fix(crm): Prevent scroll to top when edit and save a Deal
  examples/crm/src/deals/DealEdit.tsx
Labels: RFR, CRM

#10077 Fix(crm): Set edit and create dialog title for Deal as h6
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealEdit.tsx
Labels: RFR, CRM

#10078 Fix(crm): Use pessimistic update when saving a deal to avoid old data to display
  examples/crm/src/deals/DealEdit.tsx
  examples/crm/src/deals/DealShow.tsx
Labels: RFR, CRM

#10081 Fix(crm): Make deals archive and unarchive buttons secondary
  examples/crm/src/deals/DealShow.tsx
Labels: RFR, CRM

#10080 Feat(crm): Display Company inputs by category in columns and improve …
  examples/crm/src/companies/CompanyAvatar.tsx
  examples/crm/src/companies/CompanyCreate.tsx
  examples/crm/src/companies/CompanyEdit.tsx
  examples/crm/src/companies/CompanyForm.tsx
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/dashboard/DealsPipeline.tsx
  examples/crm/src/deals/DealCard.tsx
Labels: RFR, CRM

#10079 Feat(crm): Display Contact inputs by category in columns and improve UX form
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactCreate.tsx
  examples/crm/src/contacts/ContactEdit.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/dataGenerator/contacts.ts
  examples/crm/src/types.ts
Labels: RFR, CRM

#10082 Fix(crm): Rename company.taxe_identifier to company.tax_identifier
  examples/crm/src/commons/isLinkedInUrl.ts
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/dataGenerator/companies.ts
  examples/crm/src/types.ts
Labels: RFR, CRM

#10084 Fix(crm): Deals category filter is now applied to the category field
  examples/crm/src/deals/DealList.tsx
Labels: RFR, CRM

#10085 Fix(crm): improve user experience for deals
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/deals/DealArchivedList.tsx
  examples/crm/src/deals/DealEdit.tsx
  examples/crm/src/notes/Note.tsx
Labels: RFR, CRM

#10083 Fix(crm): Replace see more button with a link in activity log
  examples/crm/src/activity/ActivityLogNote.tsx
Labels: RFR, CRM

#10054 [Doc] Mention `CreateInDialog` in `ReferenceManyField` doc
  docs/ReferenceManyField.md
Labels: RFR

#10088 Fix(crm): sales is now required for contacts and companies
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/dataProvider.ts
Labels: RFR, CRM

#10086 Fix(crm): Removed target="_blank" to the sample download link
  examples/crm/src/contacts/ContactImportButton.tsx
Labels: RFR, CRM

#10091 Feat(crm): Harmonize Sales Form and My Page Form with the others
  examples/crm/src/Header.tsx
  examples/crm/src/sales/SalesCreate.tsx
  examples/crm/src/sales/SalesEdit.tsx
  examples/crm/src/sales/SalesForm.tsx
  examples/crm/src/sales/SalesInputs.tsx
  examples/crm/src/sales/SalesList.tsx
  examples/crm/src/settings/SettingsPage.tsx
  examples/crm/src/settings/UpdatePassword.tsx
Labels: RFR, CRM

#10087 Fix(crm): Hide fields labels when empty in deals show
  examples/crm/src/dashboard/DealsChart.tsx
  examples/crm/src/dataGenerator/deals.ts
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealInputs.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/types.ts
Labels: WIP, CRM

#10095 Fix/activity log wording
  examples/crm/src/activity/ActivityLogCompanyCreated.tsx
  examples/crm/src/activity/ActivityLogContactCreated.tsx
  examples/crm/src/activity/ActivityLogContactNoteCreated.tsx
  examples/crm/src/activity/ActivityLogDealCreated.tsx
  examples/crm/src/activity/ActivityLogDealNoteCreated.tsx
  examples/crm/src/dataProvider/activity.ts
  examples/crm/src/types.ts
Labels: RFR, CRM

#10094 Fix(crm): Improve UX based on suggestions from code review
  examples/crm/src/companies/CompanyAside.tsx
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/ContactImportButton.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/deals/DealArchivedList.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/login/SignupPage.tsx
  examples/crm/src/misc/isLinkedInUrl.ts
  examples/crm/src/root/CRM.tsx
Labels: RFR, CRM

#10098 Feat(crm): Implement a component for cropping image
  examples/crm/package.json
  examples/crm/src/authProvider.ts
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/dataGenerator/sales.ts
  examples/crm/src/misc/ImageEditorField.tsx
  examples/crm/src/settings/SettingsPage.tsx
  examples/crm/src/types.ts
  yarn.lock
Labels: RFR, CRM

#10099 Fix(crm): Apply suggestions from code review
  examples/crm/src/activity/ActivityLogContactNoteCreated.tsx
  examples/crm/src/activity/ActivityLogDealNoteCreated.tsx
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/dataGenerator/contactNotes.ts
  examples/crm/src/dataGenerator/dealNotes.ts
  examples/crm/src/dataProvider/activity.ts
  examples/crm/src/deals/DealCard.tsx
  examples/crm/src/types.ts
Labels: RFR, CRM

#10096 Fix(crm): Add create contact button to company even if there is no contacts attached to it
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/Avatar.tsx
  examples/crm/src/dataProvider.ts
Labels: RFR, CRM

#10101 Feat(crm): Display gender icon + newseletter info for Contact
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/root/defaultConfiguration.ts
  examples/crm/src/types.ts
Labels: RFR, CRM

#10105 Feat(crm): Display company name and title for Hot Contact
  examples/crm/src/dashboard/HotContacts.tsx
Labels: RFR, CRM

#10103 Feat(crm): Redirect on company page when deleting an user from company
  examples/crm/src/companies/CompanyShow.tsx
  examples/crm/src/contacts/ContactAside.tsx
  examples/crm/src/contacts/ContactEdit.tsx
Labels: RFR, CRM

#10104 Feat(crm): Allow quick task create from Dashboard
  examples/crm/src/dashboard/TasksList.tsx
  examples/crm/src/deals/DealInputs.tsx
  examples/crm/src/misc/ContactOption.tsx
  examples/crm/src/tasks/AddTask.tsx
Labels: RFR, CRM

#10106 Fix(crm): Remove client-side validation for the current password
  examples/crm/src/settings/UpdatePassword.tsx
Labels: WIP, CRM

#10108 Feat(crm): Display Forms at a glance
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/contacts/ContactInputs.tsx
  examples/crm/src/deals/DealCreate.tsx
  examples/crm/src/deals/DealEdit.tsx
  examples/crm/src/deals/DealInputs.tsx
  examples/crm/src/deals/DealShow.tsx
Labels: RFR, CRM

#10109 Fix(crm): Apply sugestions from review
  examples/crm/src/companies/CompanyCard.tsx
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/companies/GridList.tsx
  examples/crm/src/dashboard/Dashboard.tsx
  examples/crm/src/dashboard/DashboardActivityLog.tsx
  examples/crm/src/dashboard/DealsChart.tsx
  examples/crm/src/dashboard/HotContacts.tsx
  examples/crm/src/dashboard/TasksList.tsx
  examples/crm/src/misc/ImageEditorField.tsx
  examples/crm/src/notes/NoteInputs.tsx
  examples/crm/src/notes/utils.ts
  examples/crm/src/settings/SettingsPage.tsx
Labels: RFR, CRM

#10110 Feat(crm): Add onboarding for empty project
  examples/crm/src/authProvider.ts
  examples/crm/src/dashboard/Dashboard.tsx
  examples/crm/src/dashboard/DashboardStepper.tsx
  examples/crm/src/login/SignupPage.tsx
Labels: RFR, CRM

#10115 Fix(crm): Apply suggestions from code reviews
  examples/crm/src/companies/CompanyInputs.tsx
  examples/crm/src/deals/DealInputs.tsx
  examples/crm/src/deals/DealShow.tsx
  examples/crm/src/misc/DialogCloseButton.tsx
  examples/crm/src/misc/ImageEditorField.tsx
  examples/crm/src/settings/SettingsPage.tsx
  examples/crm/src/tasks/AddTask.tsx
Labels: RFR, CRM

#10111 Feat(crm): Improve upcoming task component
  examples/crm/src/dashboard/TasksList.tsx
  examples/crm/src/dashboard/TasksListFilter.tsx
  examples/crm/src/tasks/AddTask.tsx
Labels: RFR, CRM
